In [2]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np

In [3]:
url = "https://www.espn.com/golf/stats/player"

In [4]:
response = requests.get(url)
response.status_code

200

In [5]:
dfs = pd.read_html(url)

In [6]:
dfs

[    RK               Name AGE
 0    1  Scottie Scheffler  26
 1    2           Jon Rahm  28
 2    3           Max Homa  32
 3    4      Kurt Kitayama  30
 4    5     Tyrrell Hatton  31
 5    6     Keegan Bradley  36
 6    7       Rory McIlroy  33
 7    8           Tom Hoge  33
 8    9    Collin Morikawa  26
 9   10    Patrick Cantlay  31
 10  11     Viktor Hovland  25
 11  12         Tony Finau  33
 12  13        Nick Taylor  34
 13  14          Jason Day  35
 14  15    Sahith Theegala  25
 15  16      Adam Svensson  29
 16  17       Seamus Power  36
 17  18            Tom Kim  20
 18  19        Justin Rose  42
 19  20         Sungjae Im  24
 20  21      Rickie Fowler  34
 21  22       Taylor Moore  29
 22  23         Chris Kirk  37
 23  24     Harris English  33
 24  25      Jordan Spieth  29
 25  26         Si Woo Kim  27
 26  27       Brian Harman  36
 27  28  Taylor Montgomery  28
 28  29     Russell Henley  33
 29  30   Mackenzie Hughes  32
 30  31      Justin Thomas  29
 31  32     Keith Mitchell  31
 32  33      Andrew Putnam  34
 33  34  Xander Schauffele  29
 34  35      Wyndham Clark  29
 35  36        Adam Schenk  31
 36  37          Sam Burns  26
 37  38   Hideki Matsuyama  31
 38  39     Denny McCarthy  30
 39  40       Brendon Todd  37
 40  41        Adam Hadwin  35
 41  42      Danny Willett  35
 42  43    David Lingmerth  35
 43  44     Hayden Buckley  27
 44  45       Thomas Detry  30
 45  46         Justin Suh  25
 46  47        Sepp Straka  29
 47  48         Brandon Wu  26
 48  49         Ben Taylor  --
 49  50     Davis Thompson  23,
        EARNINGS   CUP  EVNTS  RNDS  CUTS  TOP10  WINS  SCORE   DDIS  DACC  \
 0   $10,486,495  1630      9    36     9      6     2   68.1  308.7  63.3
 1    $9,934,779  2013      8    29     7      6     3   68.0  314.1  57.6
 2    $7,344,412  1719      9    36     9      5     2   68.8  301.7  62.2
 3    $5,048,388   939     10    32     6      2     1   70.1  306.7  54.4
 4    $4,473,894   613      6    24     6      3     0   69.4  304.7  64.2
 5    $4,263,524  1077     10    34     7      4     1   69.8  298.2  59.5
 6    $3,913,286   810      5    18     4      2     1   69.8  326.6  52.0
 7    $3,731,656   750     14    48    10      4     0   69.0  293.9  63.9
 8    $3,470,734   751      9    32     7      3     0   69.3  292.3  70.1
 9    $3,466,400   691      7    26     6      3     0   68.6  308.2  63.9
 10   $3,345,697   623      9    36     9      4     0   69.1  305.4  63.6
 11   $3,231,192   893      9    34     8      3     1   69.0  301.6  59.2
 12   $3,229,948   680     14    47     9      4     0   69.6  292.7  58.2
 13   $3,218,333   675     12    44    10      5     0   68.9  302.6  62.3
 14   $3,139,390   763     13    50    12      5     0   69.9  300.4  53.2
 15   $3,098,261   800     15    54    12      2     1   69.9  288.7  60.0
 16   $2,892,921   943     12    44    10      3     1   69.5  298.9  58.3
 17   $2,863,005   846     10    38     9      3     1   69.1  295.1  69.7
 18   $2,827,020   775     10    34     7      3     1   69.6  291.8  65.5
 19   $2,821,129   601     12    46    11      4     0   69.2  298.9  64.0
 20   $2,783,138   630     10    38     9      3     0   69.5  305.0  58.7
 21   $2,745,877   847     15    51    10      1     1   70.1  300.8  56.8
 22   $2,708,778   909     12    40     8      3     1   69.6  295.9  60.9
 23   $2,682,653   504     15    49     9      2     0   70.2  294.6  59.2
 24   $2,511,860   483      9    32     7      3     0   70.0  302.7  53.2
 25   $2,315,142   766     11    42    10      2     1   69.6  296.1  66.0
 26   $2,147,778   693     12    41     8      2     0   69.4  293.4  67.9
 27   $2,079,460   700     14    52    12      4     0   69.3  306.0  56.5
 28   $2,076,922   613     10    32     6      1     1   70.2  288.2  72.0
 29   $2,021,799   673     11    36     7      1     1   70.3  297.9  52.4
 30   $1,959,433   377      8    32     8      2     0   70.3  305.5  56.0
 31   $1,907,322   435     12    44    10      3     0   69.4  310.7  65.6
 32   $1,894,018   585     15    53    11      2     0   69.4  282.1  64.0
 33   $1,863,972   441      8    29     7      3     0   69.4  300.0  54.3
 34   $1,810,299   475     14    52    12      3     0   69.8  313.2  52.5
 35   $1,803,965   584     17    59    12      1     0   70.3  304.4  53.7
 36   $1,800,541   403     10    33     7      3     0   70.0  308.7  57.3
 37   $1,797,738   342     11    38     8      2     0   70.0  295.9  58.3
 38   $1,735,498   473     15    54    12      2     0   69.6  295.0  59.2
 39   $1,720,861   516     13    43     8      3     0   69.7  280.2  68.2
 40   $1,685,683   388     12    44    10      3     0   69.8  293.7  63.9
 41   $1,643,146   492     11    37     8      1     0   70.2  291.8  56.8
 42   $1,642,997   404     15    47     8      4     0   70.5  275.0  66.1
 43   $1,629,364   529     13    40     7      2     0   69.8  303.9  65.3
 44   $1,607,775   602     12    43    10      2     0   69.7  307.7  56.9
 45   $1,561,569   350     16    54    12      2     0   70.2  293.8  63.0
 46   $1,529,723   468     11    36     7      2     0   70.4  292.0  63.3
 47   $1,490,138   442     16    55    11      1     0   69.8  291.6  61.9
 48   $1,489,760   500     15    52    10      3     0   70.0  301.8  54.0
 49   $1,442,218   470     12    42     9      2     0   70.5  310.7  57.5

      GIR  PUTTS  SAND  BIRDS
 0   73.8  1.715  36.0  4.694
 1   72.8  1.674  54.3  5.207
 2   68.7  1.690  51.2  4.750
 3   67.4  1.755  61.4  4.031
 4   65.7  1.708  44.7  4.250
 5   67.8  1.723  35.9  4.206
 6   64.8  1.776  52.2  4.000
 7   70.4  1.694  50.0  4.583
 8   71.4  1.754  54.1  4.375
 9   71.8  1.708  41.9  5.154
 10  67.7  1.724  57.9  4.528
 11  70.6  1.697  56.8  4.882
 12  66.2  1.707  51.8  4.213
 13  69.8  1.727  58.6  4.341
 14  67.8  1.707  60.0  4.300
 15  66.6  1.782  53.8  3.685
 16  67.4  1.702  53.1  4.386
 17  70.5  1.737  55.8  4.158
 18  68.0  1.728  66.7  4.059
 19  68.0  1.744  71.4  4.326
 20  69.3  1.709  43.8  4.421
 21  66.0  1.789  49.4  3.627
 22  67.9  1.689  60.0  4.200
 23  64.1  1.756  43.8  3.714
 24  67.0  1.736  61.0  4.125
 25  68.5  1.736  61.5  4.000
 26  69.5  1.756  61.5  3.976
 27  63.6  1.647  53.3  4.500
 28  68.4  1.759  47.1  4.031
 29  64.8  1.752  40.9  3.750
 30  65.1  1.749  62.0  4.313
 31  67.3  1.715  56.4  4.273
 32  68.6  1.754  63.4  3.792
 33  68.0  1.715  57.1  4.103
 34  67.4  1.739  52.2  4.038
 35  66.1  1.806  49.0  3.610
 36  63.5  1.719  51.2  4.242
 37  64.5  1.741  59.6  4.053
 38  66.5  1.737  53.0  3.944
 39  66.1  1.715  60.3  4.163
 40  67.7  1.729  51.5  4.000
 41  63.5  1.738  59.3  3.676
 42  63.6  1.714  56.0  4.043
 43  70.8  1.761  43.3  3.575
 44  65.6  1.732  62.3  4.186
 45  67.2  1.740  44.6  4.056
 46  70.2  1.767  42.9  3.667
 47  67.3  1.751  34.9  3.964
 48  67.2  1.762  55.2  3.827
 49  66.3  1.776  58.9  3.667  ]

In [7]:
age = dfs[0]

In [8]:
stats = dfs[1]

In [9]:
url2 = 'https://www.espn.com/golf/rankings'

In [10]:
dfs2 = pd.read_html(url2)

In [11]:
rank = dfs2[0]

In [ ]:
age.info()

In [ ]:
stats.info()

In [ ]:
rank

In [ ]:
age = age.drop(['RK'],axis=1)

In [41]:
twoofthree = age.join(stats)

In [42]:
rank = rank.rename(columns={'NAME': 'Name'})

In [43]:
fin = twoofthree.merge(rank)

In [44]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RK        3 non-null      int64
 1   Name      3 non-null      object
 2   AGE       3 non-null      object
 3   EARNINGS  3 non-null      object
 4   CUP       3 non-null      int64
 5   EVNTS     3 non-null      int64
 6   RNDS      3 non-null      int64
 7   CUTS      3 non-null      int64
 8   TOP10     3 non-null      int64
 9   WINS      3 non-null      int64
 10  SCORE     3 non-null      float64
 11  DDIS      3 non-null      float64
 12  DACC      3 non-null      float64
 13  GIR       3 non-null      float64
 14  PUTTS     3 non-null      float64
 15  SAND      3 non-null      float64
 16  BIRDS     3 non-null      float64
dtypes: float64(7), int64(7), object(3)
memory usage: 432.0+ bytes

In [45]:
url3 = 'https://www.espn.com/golf/stats/player/_/table/general/sort/amount/dir/asc'

In [46]:
dfs3 = pd.read_html(url3)

In [47]:
age2 = dfs3[0]

In [48]:
age2 = age2.drop(['RK'],axis=1)

In [49]:
stat2 = dfs3[1]

In [50]:
df2 = age2.join(stat2)

In [51]:
bottomandTop = pd.concat([twoofthree,df2])

In [52]:
url4 = 'https://www.espn.com/golf/stats/player/_/table/general/sort/topTenFinishes/dir/asc'

In [53]:
dfs4 = pd.read_html(url4)

In [54]:
age3 = dfs4[0]

In [55]:
age3 = age3.drop(['RK'],axis=1)

In [56]:
stat3 = dfs4[1]

In [57]:
df3 = age3.join(stat3)

In [58]:
middle = pd.concat([bottomandTop,df3])

In [59]:
middle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 49
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RK        50 non-null     float64
 1   Name      150 non-null    object
 2   AGE       150 non-null    object
 3   EARNINGS  150 non-null    object
 4   CUP       150 non-null    int64
 5   EVNTS     150 non-null    int64
 6   RNDS      150 non-null    int64
 7   CUTS      150 non-null    int64
 8   TOP10     150 non-null    int64
 9   WINS      150 non-null    int64
 10  SCORE     150 non-null    float64
 11  DDIS      150 non-null    float64
 12  DACC      150 non-null    float64
 13  GIR       150 non-null    float64
 14  PUTTS     150 non-null    float64
 15  SAND      150 non-null    float64
 16  BIRDS     150 non-null    float64
dtypes: float64(8), int64(6), object(3)
memory usage: 21.1+ KB

In [60]:
url5 = 'https://www.espn.com/golf/stats/player/_/table/general/sort/cutsMade/dir/asc'

In [61]:
dfs5 = pd.read_html(url5)

In [62]:
age5 = dfs5[0]

In [63]:
age5 = age5.drop(['RK'],axis=1)

In [64]:
stat4 = dfs5[1]

In [65]:
df4 = age5.join(stat4)

In [66]:
allGolfers = pd.concat([df4,middle])

In [67]:
allGolfers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 49
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      200 non-null    object
 1   AGE       200 non-null    object
 2   EARNINGS  200 non-null    object
 3   CUP       200 non-null    int64
 4   EVNTS     200 non-null    int64
 5   RNDS      200 non-null    int64
 6   CUTS      200 non-null    int64
 7   TOP10     200 non-null    int64
 8   WINS      200 non-null    int64
 9   SCORE     200 non-null    float64
 10  DDIS      200 non-null    float64
 11  DACC      200 non-null    float64
 12  GIR       200 non-null    float64
 13  PUTTS     200 non-null    float64
 14  SAND      200 non-null    float64
 15  BIRDS     200 non-null    float64
 16  RK        50 non-null     float64
dtypes: float64(8), int64(6), object(3)
memory usage: 28.1+ KB

In [68]:
rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RK      200 non-null    int64
 1   Name    200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

In [69]:
use = rank.merge(allGolfers,on='Name', how='right')

In [74]:
use = use.drop(['RK_y'],axis=1)

In [76]:
use.head()

,RK_x,Name,AGE,EARNINGS,CUP,EVNTS,RNDS,CUTS,TOP10,WINS,SCORE,DDIS,DACC,GIR,PUTTS,SAND,BIRDS
0,NaN,Brian Gay,51,"$134,875",60,5,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,Jerry Kelly,56,"$58,000",7,2,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,D.J. Trahan,42,"$12,350",7,2,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,Tiger Woods,47,"$59,560",11,1,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,Ricky Barnes,42,"$19,841",12,3,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
use.sort_values(by=['RK_x'])

,RK_x,Name,AGE,EARNINGS,CUP,EVNTS,RNDS,CUTS,TOP10,WINS,SCORE,DDIS,DACC,GIR,PUTTS,SAND,BIRDS
50,1.0,Scottie Scheffler,26,"$10,486,495",1630,9,36,9,6,2,68.1,308.7,63.3,73.8,1.715,36.0,4.694
51,2.0,Jon Rahm,28,"$9,934,779",2013,8,29,7,6,3,68.0,314.1,57.6,72.8,1.674,54.3,5.207
56,3.0,Rory McIlroy,33,"$3,913,286",810,5,18,4,2,1,69.8,326.6,52.0,64.8,1.776,52.2,4.000
59,4.0,Patrick Cantlay,31,"$3,466,400",691,7,26,6,3,0,68.6,308.2,63.9,71.8,1.708,41.9,5.154
52,6.0,Max Homa,32,"$7,344,412",1719,9,36,9,5,2,68.8,301.7,62.2,68.7,1.690,51.2,4.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,NaN,Greyson Sigg,28,"$690,526",240,15,53,11,1,0,70.2,291.7,59.8,66.5,1.741,47.9,3.717
191,NaN,Harrison Endycott,26,"$497,186",206,13,39,6,1,0,70.7,290.3,58.4,64.4,1.748,51.3,3.692
193,NaN,Max McGreevy,27,"$234,358",99,16,40,3,1,0,72.5,284.9,54.2,58.9,1.769,57.5,3.200
196,NaN,John VanDerLaan,--,0,0,0,0,2,1,0,0.0,0.0,0.0,0.0,0.000,0.0,0.000
199,NaN,Nico Echavarria,28,"$879,458",388,13,34,3,1,1,70.9,296.7,57.1,63.9,1.734,44.1,3.853